*{
    margin: 0%;
    padding: 0%;
}





.row1{
    width: 100% ;
    height: 30px;
    display: flex;
}
.red1{
    width: 50% ;
    height: 30px;
    background-color: red ;
}
.blue1{
    width: 50%;
    height: 30px;
    background-color: blue;
}





.row2{
    width: 100% ;
    height: 30px;
    display: flex;
}
.green2{
    width: 100% ;
    height: 30px;
    background-color:green ;
}
.blue2{
    width: 5%;
    height: 30px;
    background-color: blue;
}





.row3{
    width: 100% ;
    height: 30px;
    display: flex;
}
.red3{
    width: 5% ;
    height: 30px;
    background-color: red ;
}
.green3{
    width: 100% ;
    height: 30px;
    background-color:green ;
}
.blue3{
    width: 5%;
    height: 30px;
    background-color: blue;
}




.row4{
    width: 100% ;
    height: 30px;
    display: flex;
}
.red4{
    width: 100% ;
    height: 30px;
    background-color: red ;
}
.blue4{
    width: 5%;
    height: 30px;
    background-color: blue;
}





.green5{
    width: 100% ;
    height: 30px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red5{
    width: 20px ;
    height: 20px;
    background-color: red ;
}





.red6{
    width: 100% ;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue6{
    width: 50px ;
    height: 100%;
    background-color: blue ;
}




.row7{
    width: 100%;
    height: 30px;
    display: flex;
}
.red7{
    width: 5%;
    height: 30px;
    background-color: red;
}
.blue7{
    width: 100% ;
    height: 30px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green7{
    width: 100% ;
    height: 10px;
    background-color:green;
}





.row8{
    width: 100% ;
    height: 30px;
    display: flex;
}
.green8{
    width: 100% ;
    height: 30px;
    display: flex;
    background-color: green ;
    justify-content: space-between;
}
.yellow8{
    width: 5%;
    height: 30px;
    background-color: yellow;
}





.row9{
    width: 100% ;
    height: 30px;
    display: flex;
}

.yellow9{
    width: 100% ;
    height: 30px;
    display: flex;
    background-color: yellow ;
    justify-content: space-around;
}

.green9{
    width: 2%;
    height: 30px;
    background-color: green;
}