*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(231, 227, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    padding: 10px;
}
.menu{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    position: fixed;
}
.link{
    display: flex;
    align-items: center;
}
.logo{
    text-align: center;
    width: 60%;
}
.button{
    width: 10%;
    text-align: right;
    padding-top: 10px;
}
button{
    cursor: pointer;
    background: rgb(4, 182, 242);
    color: white;
    border-radius: 20%;
    border: none;
    height: 30px;
    width: 60px;
}
.container{
    display: grid;
    grid-template-columns:repeat(3,auto);

}
.card1{
    margin: 20px;
    margin-left: 80px;
    width: 300px;
    height: 220px;
    background-color: white;
}
.t-1{
    padding: 30px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: large;
    font-weight: bold;
}
.cl-1{
    display: grid;
}
.cnt-1{
    display: flex;
}
.img-1{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-top: -30px;
    margin-left: 10px;
}
.cnt1-1{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.a{
    color: gray;
}
.b{
    color: rgb(4, 182, 242); ;
}





.card2{
    margin: 20px;
    width: 491px;
    background-color: white;
}
.cnt-2{
    margin: 10px;
    display: flex;
}
.cl-2{
    display: grid;
}
.c{
    padding-left: 10px;
    font-weight: bold;
    font-size: small;
}
.c-1{
    color: gray;
    font-size:x-small;
    padding-left:5px;
}
.c-2{
    color: gray;
    padding-left: 5px;
    font-size: small;

}



.card3{
    height: 230px;
    margin: 20px;
    width: 300px;
    background-color: white;
}
.t3{
    margin: 18px;
    font-weight: bolder;
    font-size: large;
}
.ctn-3{
    margin: 20px;
    display: flex;
}
.img-2{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.cl-3{
    display: grid;
}
.p-3{
    font-size: small;
    font-weight: bold;
}
.p-3-1{
    padding-left: 5px;
    font-size: smaller;
    color: gray;
}
.btn{
    cursor: pointer;
    background: white;
    color: rgb(4, 182, 242);
    border-radius: 20%;
    border: 1px solid rgb(4, 182, 242);
    height: 30px;
    width: 60px;
    margin-left: 10px
}
